@import '../variables/color';
@import '../variables/mixins';


// HeroSection
.HeroSection {
    padding-top: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.HeroTitleWrap {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 24px;
}
.HeroTitleText {
    @include color-content-neutral-strong;
    font-size: 28px;
    line-height: 44px;
    font-weight: 400;
    font-style: normal;
}
.HeroTitleButton {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 16px;
}
.HeroVideo {
    width: 100%;
    border-radius: 16px;
}
// ******

// AboutSection 

.AboutSection {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 32px;
    padding: 120px 0px;
}
.AboutTitleRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}
@mixin AboutTitle {
    @include color-content-neutral-strong;
    font-size: 20px;
    text-align: left;
    line-height: 40px;
    font-weight: 400;
    font-style: normal;
}
.AboutTitle {
    @include AboutTitle;
}
.AboutDescription {
    @include color-content-neutral-strong;
    font-size: 18px;
    text-align: right;
    line-height: 34px;
    font-weight: 400;
    font-style: normal;
    width: 100%;
}
.AboutBtn {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
}
.AboutContactRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 42px 0px;
}
.AboutContactButton {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: end;
    align-items: center;
    width: 100%;
}
.VerticalDiv {
    background-color: #D9D9D9;
    height: 1px;
    width: 100%;
}
.AboutServices {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 24px;
    width: 100%;
}
.AboutServicesTitleRow {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 16px;
    width: 100%;
}
.AboutServicesCard {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 16px;
}
.ServicesCard {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 32px;
    @include color-border-neutral-strong;
    padding: 24px 24px;
    border-radius: 16px;
    width: 100%;
}
.ServicesCardIcon {
    font-size: 24px;
    @include color-content-white;
    @include color-bg-neutral-strong;
    padding: 12px 12px;
    border-radius: 100px;
}
.ServicesTextWrap {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8px;
}
.ServicesCardTitle {
    @include color-content-neutral-strong;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    font-style: normal;
}
.ServicesCardDescription {
    @include color-content-neutral-strong;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    font-style: normal;
}

// Gallery 
.GallerySection {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 32px;
    padding: 64px 0px;
}
.GalleryTitle {
    @include AboutTitle;
}
.GalleryCardWrap {
    display: flex;
    flex-direction: row;
    width: 100%;    
    gap: 24px;
}
.GalleryCard {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
    text-decoration: none;
}
.GalleryCard .col-5 {
    flex: 1;
}
.GalleryCard .col-8 {
    flex: 2;
}

.GalleryCardTextWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.GalleryCardImg {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block;
    border-radius: 8px; 
}
.GalleryCardTitle {
    @include color-content-neutral-strong;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}
.GalleryCardDescription {
    @include color-content-neutral-strong;
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
}

