@import '../variables/color';
@import '../variables/mixins';

.PrimaryBtn {
    @include color-bg-neutral-strong;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    text-decoration: none;
    @include color-content-white;
    padding: 8px 24px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 8px;
    border-radius: 100px;
}
.SecondaryBtn {
    @include color-border-neutral-strong;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    text-decoration: none;
    @include color-content-neutral-strong;
    padding: 8px 24px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 8px;
    @include color-bg-white;
    border-radius: 100px;
}
.btn-icon {
    font-size: 20px;
}

// TextBtn 

.TextBtn {
    @include color-content-neutral-strong;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    text-decoration: underline;
}
.FooterTextBtn {
    @include color-content-white;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    text-decoration: underline;
}