// alabaster

$color-alabaster-50: #fafafa;
$color-alabaster-100: #efefef;
$color-alabaster-200: #dcdcdc;
$color-alabaster-300: #dcdcdc;
$color-alabaster-400: #989898;
$color-alabaster-500: #7c7c7c;
$color-alabaster-600: #656565;
$color-alabaster-700: #525252;
$color-alabaster-800: #464646;
$color-alabaster-900: #3d3d3d;
$color-alabaster-950: #292929;

// Derby
$color-derby-50: #fff7ed;
$color-derby-100: #ffedd5;
$color-derby-200: #fedaaa;
$color-derby-300: #fdc274;
$color-derby-400: #fba93c;
$color-derby-500: #f99816;
$color-derby-600: #ea8b0c;
$color-derby-700: #c2740c;
$color-derby-800: #9a6012;
$color-derby-900: #7c4f12;
$color-derby-950: #432907;

// Heliotrope

$color-heliotrope-50: #fef4ff;
$color-heliotrope-100: #fce8ff;
$color-heliotrope-200: #f8d0fe;
$color-heliotrope-300: #f1abfc;
$color-heliotrope-400: #e879f9;
$color-heliotrope-500: #d946ef;
$color-heliotrope-600: #bc26d3;
$color-heliotrope-700: #9b1caf;
$color-heliotrope-800: #7f198f;
$color-heliotrope-900: #691a75;
$color-heliotrope-950: #44044e;

// red

$color-red-50: #fef2f2;
$color-red-100: #fee2e2;
$color-red-200: #fecaca;
$color-red-300: #fca5a5;
$color-red-400: #f87171;
$color-red-500: #ef4444;
$color-red-600: #dc2626;
$color-red-700: #b91c1c;
$color-red-800: #991b1b;
$color-red-900: #7f1d1d;
$color-red-950: #450a0a;

// token

// color-neutral

$color-neutral-0: #fff;
$color-neutral-50: $color-alabaster-50;
$color-neutral-100: $color-alabaster-100;
$color-neutral-200: $color-alabaster-200;
$color-neutral-300: $color-alabaster-300;
$color-neutral-400: $color-alabaster-400;
$color-neutral-500: $color-alabaster-500;
$color-neutral-600: $color-alabaster-600;
$color-neutral-700: $color-alabaster-700;
$color-neutral-800: $color-alabaster-800;
$color-neutral-900: $color-alabaster-900;
$color-neutral-950: $color-alabaster-950;

// color-orange

$color-orange-50: $color-derby-50;
$color-orange-100: $color-derby-100;
$color-orange-200: $color-derby-200;
$color-orange-300: $color-derby-300;
$color-orange-400: $color-derby-400;
$color-orange-500: $color-derby-500;
$color-orange-600: $color-derby-600;
$color-orange-700: $color-derby-700;
$color-orange-800: $color-derby-800;
$color-orange-900: $color-derby-900;
$color-orange-950: $color-derby-950;

// color-purple

$color-purple-50: $color-heliotrope-50;
$color-purple-100: $color-heliotrope-100;
$color-purple-200: $color-heliotrope-200;
$color-purple-300: $color-heliotrope-300;
$color-purple-400: $color-heliotrope-400;
$color-purple-500: $color-heliotrope-500;
$color-purple-600: $color-heliotrope-600;
$color-purple-700: $color-heliotrope-700;
$color-purple-800: $color-heliotrope-800;
$color-purple-900: $color-heliotrope-900;
$color-purple-950: $color-heliotrope-950;

// color-red

$color-red-50: $color-red-50;
$color-red-100: $color-red-100;
$color-red-200: $color-red-200;
$color-red-300: $color-red-300;
$color-red-400: $color-red-400;
$color-red-500: $color-red-500;
$color-red-600: $color-red-600;
$color-red-700: $color-red-700;
$color-red-800: $color-red-800;
$color-red-900: $color-red-900;
$color-red-950: $color-red-950;

//